<p id="notice"><%= notice %></p>

<p>
  <strong><%= @recipe.title %></strong>
</p>

<div>
  <%= @recipe.body %>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
