<p id="notice"><%= notice %></p>

<h1><%= @recipe.title %></h1>

<div class="Recipe-Body">
	<%= @recipe.body %>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
